<contact-card></contact-card>

<form novalidate class="simple-form">

    <div class="name">
        <label for="contact-first-name">First Name: </label>
        <input id="contact-first-name" ng-model="contact.firstName"/>
        <label for="contact-last-name">Last Name: </label>
        <input id="contact-last-name" ng-model="contact.lastName"/>
    </div>
    <div class="email">
        <label for="contact-email">Email: </label>
        <input id="contact-email" ng-model="contact.email"/>
    </div>
    <div class="controls">
        <input type="button" ng-click="reset()" value="Reset"/>
        <input type="submit" ng-click="saveContact()" value="Save"/>
    </div>
</form>