<div>
    <!-- query object allows the below filter to make a subset the contacts array on the fly. Radical! -->
    <md-input-container>
        <label>Search</label>
        <input ng-model="query">
    </md-input-container>
</div>
<div>
    <md-list>
        <md-item ng-repeat="contact in contacts | filter:query">
            <div class="contact-list-item">
                <md-button class="md-primary" ng-href="#/contacts/{{contact.id}}">{{contact.firstName}}</md-button>
            </div>
        </md-item>
    </md-list>
</div>
